.hero {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    width: 100%;
    i {
      @include back;
      margin: 15px;
    }
  }
}

.img-content {
  position: relative;
  width: 50%;
  img {
    opacity: 0.6;
    width: 100%;
    max-height: 220px;
  }
  img + img {
    opacity: 1;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }
}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
  p {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-txt-secondary;
    text-transform: capitalize;
  }
  div {
    width: 120px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    background: #5757574d;
    padding: 4px 15px;
    border-radius: 10px;
    color: #4b4a4a;
    img {
      width: 25px;
    }
    span {
      margin-left: 10px;
    }
  }
}

.body-description {
  border-radius: 20px 20px 0;
  background: #fff;
  transform: translateY(-20px);
  h4 {
    margin-top: 10px;
  }
  table {
    margin: 15px auto;
  }
}

.table-progress {
  div {
    background: #e5e5e5;
    border-radius: 4px;
    overflow: hidden;
    p {
      padding: 0 10px;
    }
  }
}

.container-details {
  width: 85%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  color: $color-txt-secondary;
  > p {
    text-align: center;
    width: 100%;
  }
}

.details {
  @media (min-width: 420px) {
    max-width: 260px;
  }
}

.skill {
  tbody {
    tr {
      td {
        width: 35%;
      }
      td + td {
        width: 50%;
      }
    }
  }
}

.encounters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  h4 {
    width: 100%;
  }
  div {
    margin-bottom: 10px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
  }
}
