@mixin inputs {
  border: none;
  outline: none;
  background-color: $bg-input;
  border-radius: 5px;
}

@mixin error {
  margin-top: 0.2rem;
  color: #cc1313;
  font-style: italic;
  font-size: 0.75rem;
}

@mixin back {
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
  color: $color-txt-secondary;
  background-color: lighten($color-txt-primary, 60);
}
