@import "variables";

* {
  padding: 0;
  margin: 0;
  font-family: $font-txt-primary;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

input {
  font-size: 0.9rem;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}
@import "mixin";
@import "login";
@import "pokedex";
@import "search";
@import "pokeList";
@import "pagination";
@import "animation";
@import "grid";
@import "detaills";
@import "not-found";
